aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
altgraph
annotated-types
anyio
appdirs
argcomplete
asgiref
attrs
blinker
bottle
Brotli
certifi
cffi
charset-normalizer
click
clr_loader
colorama
ConfigArgParse
distlib
djando
Django
django-cors-headers
django-environ
django-extensions
djangorestframework
djangorestframework_simplejwt
facebook-sdk
Faker
fastapi
filelock
Flask
Flask-BasicAuth
Flask-Cors
Flask-Login
Flask-MySQL
Flask-MySQLdb
Flask-WTF
frozenlist
gevent
geventhttpclient
greenlet
h11
idna
importlib_resources
iniconfig
itsdangerous
Jinja2
locust
MarkupSafe
msgpack
multidict
mysql-connector-python
mysqlclient
packaging
pefile
pillow
platformdirs
pluggy
propcache
proxy_tools
psutil
pycparser
pydantic
pydantic_core
pyinstaller
pyinstaller-hooks-contrib
PyJWT
PyMySQL
pytest
pytest-html
pytest-metadata
python-barcode
python-dateutil
python-decouple
python-dotenv
python-escpos
python-http-client
pythonnet
pytz
pyusb
pywebview
pywin32
pywin32-ctypes
PyYAML
pyzmq
qrcode
razorpay
reportlab
requests
roundrobin
sendgrid
sendgrid-django
setuptools
six
sniffio
SQLAlchemy
sqlparse
starlette
twilio
typing_extensions
tzdata=
urllib3
uvicorn
virtualenv
Werkzeug
WTForms
yarl
zope.event
zope.interface
